<div class="col-md-3" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <!-- Horizontal Form -->
    <div class="box box-info">
      <!-- <div class="box-header with-border" style="text-align: center;">
        <h3 class="box-title">HelpDesk | Login</h3>
        
      </div> -->
      
      <div style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
        <i class="fa fa-user-circle fa-5x" aria-hidden="true"></i>
        <h3 class="box-title">HelpDesk | Login</h3>
      </div>

      <form class="form-horizontal" #form="ngForm" (ngSubmit)="login()">
          <div class="alert alert-error" role="alert" *ngIf="message">
            <strong>Email ou Senha Incorretos!</strong>
          </div>

        <div class="box-body">

          <div [ngClass]="getFromGroupClass(email.invalid, email.dirty)">
            <!-- <label for="inputEmail" class="col-sm-2 control-label">Email: </label> -->

            <div class="col-sm-11 input-group" style="margin-left: 18px;">
              <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
              <input type="email" [(ngModel)]="usuario.email" class="form-control" name="email" id="inputEmail" #email="ngModel" placeholder="Email" email>
              <!-- <span class="help-block" *ngIf="email.invalid && email.dirty">Email inválido</span> -->
            </div>
          </div>

          <div [ngClass]="getFromGroupClass(senha.invalid, senha.dirty)">
            <!-- <label for="inputSenha" class="col-sm-2 control-label">Senha: </label> -->

            <div class="col-sm-11 input-group" style="margin-left: 18px;">
              <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
              <input type="password" [(ngModel)]="usuario.senha" class="form-control" name="senha" id="inputSenha" #senha="ngModel" placeholder="Senha" required>
              <!-- <span class="help-block" *ngIf="senha.invalid && senha.dirty">Senha inválida</span> -->
            </div>
          </div>
          
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          <!-- <button type="submit" (click)="cancelLogin()" class="btn btn-default">Cancelar</button> -->
          <button type="submit" [disabled]="!form.valid" class="btn btn-info pull-right" style="width: 100%;">Entrar</button>
        </div>
        <!-- /.box-footer -->
      </form>
    </div>
</div>