<div class="col-md-24">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Demonstrativo de Chamados</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            
            <div class="row">
                <div class="col-lg-3 col-6">
                    <div class="small-box" style="background-color: #3c8dbc;">
                        <div class="inner">
                            <h3>150</h3>
                            <p>Novos</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-plus"></i>
                        </div>
                    </div>
                </div>
            
                <div class="col-lg-3 col-6">
                    <div class="small-box" style="background-color: #00c0ef;">
                        <div class="inner">
                            <h3>53<sup style="font-size: 20px">%</sup></h3>
                            <p>Designados</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                    </div>
                </div>
            
                <div class="col-lg-3 col-6">
                    <div class="small-box" style="background-color: #f39c12;">
                        <div class="inner">
                            <h3>44</h3>
                            <p>Resolvidos</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-wrench"></i>
                        </div>
                    </div>
                </div>
            
                <div class="col-lg-3 col-6">
                    <div class="small-box" style="background-color: #00a65a;">
                        <div class="inner">
                            <h3>53<sup style="font-size: 20px">%</sup></h3>
                            <p>Aprovados</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-android-happy"></i>
                        </div>
                    </div>
                </div>
            
                <div class="col-lg-3 col-6">
                    <div class="small-box" style="background-color: #dd4b39;">
                        <div class="inner">
                            <h3>65</h3>
                            <p>Reprovados</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-android-sad"></i>
                        </div>
                    </div>
                </div>
            
                <div class="col-lg-3 col-6">
                    <div class="small-box" style="background-color: #d2d6de;">
                        <div class="inner">
                            <h3>53<sup style="font-size: 20px">%</sup></h3>
                            <p>Fechados</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-android-done-all"></i>
                        </div>
                    </div>
                </div>
            </div>    

        </div><!-- /.box-body -->
    </div><!-- /.box -->
</div>


