<aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">

        <!-- MENU USUÁRIOS -->
        <li class="treeview">
          <a href="#">
            <i class="fa fa-users"></i> <span>Usuários</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a [routerLink]="['/lista-usuario']"><i class="fa fa-list"></i> Listar </a></li>
            <li><a [routerLink]="['/novo-usuario']"><i class="fa fa-plus"></i> Novo </a></li>
          </ul>
        </li>

        <!-- MENU CHAMADOS -->
        <li class="treeview">
            <a href="#">
              <i class="fa fa-edit"></i> <span>Chamados</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="pages/forms/general.html"><i class="fa fa-list"></i> Listar </a></li>
              <li><a href="pages/forms/advanced.html"><i class="fa fa-plus"></i> Novo </a></li>
            </ul>
          </li>

          <!-- MENU RESUMO -->
        <li class="treeview">
            <a href="#">
              <i class="fa fa-bar-chart"></i> <span>Resumo</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="pages/forms/general.html"><i class="fa fa-eye"></i> Visualizar </a></li>
            </ul>
          </li>
      </ul>
    </section>
  </aside>