<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">

      <!-- MENU USUÁRIOS -->
      <li class="treeview" *ngIf="shared.usuario.perfil == 'ADMIN'">
        <a href="#">
          <i class="fa fa-users fa-lg"></i>
          <span class="pull-middle-container">&nbsp;&nbsp;&nbsp;Usuários</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a [routerLink]="['/lista-usuario']">&nbsp;&nbsp;&nbsp;
              <i class="fa fa-list fa-lg"></i>&nbsp;&nbsp;&nbsp; Listar
            </a>
          </li>
          <li>
            <a [routerLink]="['/novo-usuario']">&nbsp;&nbsp;&nbsp;
              <i class="fa fa-plus fa-lg"></i>&nbsp;&nbsp;&nbsp; Novo
            </a>
          </li>
        </ul>
      </li>

      <!-- MENU CHAMADOS -->
      <li class="treeview" *ngIf="shared.usuario.perfil != 'ADMIN'">
        <a href="#">
          <i class="fa fa-edit fa-lg"></i>
          <span>&nbsp;&nbsp;&nbsp; Chamados </span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a [routerLink]="['/lista-chamado']">&nbsp;&nbsp;&nbsp;
                <i class="fa fa-list fa-lg"></i>&nbsp;&nbsp;&nbsp; Listar
              </a>
          </li>
          <li *ngIf="shared.usuario.perfil == 'CLIENTE'">
            <a [routerLink]="['/novo-chamado']">&nbsp;&nbsp;&nbsp;
              <i class="fa fa-plus fa-lg"></i>&nbsp;&nbsp;&nbsp; Novo
            </a>
          </li>
        </ul>
      </li>

      <!-- MENU CONTADORES -->
      <li class="treeview">
        <a href="#">
          <i class="fa fa-bar-chart fa-lg"></i>
          <span>&nbsp;&nbsp;&nbsp; Contadores </span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a [routerLink]="['/contadores']">&nbsp;&nbsp;&nbsp;
              <i class="fa fa-eye fa-lg"></i>
              &nbsp;&nbsp;&nbsp; Visualizar
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</aside>