<div [ngClass]="classCss" role="alert" *ngIf="message">
    <strong>{{ message.text }}</strong>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Lista de Chamados</h3>
            </div>
            
            <div class="box-body">
                <div class="form-group" *ngIf="shared.usuario.perfil == 'TECNICO'">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" [(ngModel)]="designadoParaMim" name="designadoParaMim" id="designadoParaMim">
                            <b>Designado para mim</b>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputNumero" class="col-sm-2 control-label">Número: </label>
                    <div class="col-sm-10">
                        <input type="text" [(ngModel)]="filtroChamado.numero" class="form-control" name="inputNumero" id="inputNumero">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputTitulo" class="col-sm-2 control-label">Título: </label>
                    <div class="col-sm-10">
                        <input type="text" [(ngModel)]="filtroChamado.titulo" class="form-control" name="inputTitulo" id="inputTitulo">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputStatus" class="col-sm-2 control-label">Status: </label>
                    <div class="col-sm-10">
                        <select [(ngModel)]="filtroChamado.status" 
                                class="form-control" 
                                name="inputStatus" 
                                id="inputStatus" 
                                style="width: 100%;">
                                <option value="" selected disabled hidden>--SELECIONE--</option>
                                <option>NOVO</option>
                                <option>DESIGNADO</option>
                                <option>RESOLVIDO</option>
                                <option>APROVADO</option>
                                <option>REPROVADO</option>
                                <option>FECHADO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPrioridade" class="col-sm-2 control-label">Prioridade: </label>
                    <div class="col-sm-10">
                        <select [(ngModel)]="filtroChamado.prioridade" 
                                class="form-control" 
                                name="inputPrioridade" 
                                id="inputPrioridade" 
                                style="width: 100%;">
                                <option value="" selected disabled hidden>--SELECIONE--</option>
                                <option>ALTA</option>
                                <option>NORMAL</option>
                                <option>BAIXA</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button class="btn btn-primary pull-right" (click)="limparFiltro()"><i class="fa fa-eraser"></i> Limpar Filtro </button>
                <button class="btn btn-primary pull-right" (click)="filtrar()" style="margin-right: 10px;"><i class="fa fa-filter"></i> Filtrar </button>
            </div>

            <div class="box-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Número</th>
                            <th>Prioridade</th>
                            <th>Status</th>
                            <th>Título</th>
                            <th>Criado Por</th>
                            <th style="width: 60px" *ngIf="shared.usuario.perfil == 'CLIENTE'"></th>
                            <th style="width: 60px" *ngIf="shared.usuario.perfil == 'CLIENTE'"></th>
                            <th style="width: 60px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let chamado of listaChamado">
                            <td>{{ chamado.numero }}</td>
                            <td>
                                <i class="fa fa-battery-full fa-rotate-270 fa-lg" style="color: tomato;" aria-hidden="true" *ngIf="chamado.prioridade == 'ALTA'"></i>
                                <i class="fa fa-battery-half fa-rotate-270 fa-lg" aria-hidden="true" *ngIf="chamado.prioridade == 'NORMAL'"></i>
                                <i class="fa fa-battery-quarter fa-rotate-270 fa-lg" aria-hidden="true" *ngIf="chamado.prioridade == 'BAIXA'"></i>
                                {{ chamado.prioridade }}
                            </td>
                            <td>
                                <span class="label label-primary" *ngIf="chamado.status == 'NOVO'">{{ chamado.status }}</span>
                                <span class="label label-info" *ngIf="chamado.status == 'DESIGNADO'">{{ chamado.status }}</span>
                                <span class="label label-warning" *ngIf="chamado.status == 'RESOLVIDO'">{{ chamado.status }}</span>
                                <span class="label label-success" *ngIf="chamado.status == 'APROVADO'">{{ chamado.status }}</span>
                                <span class="label label-danger" *ngIf="chamado.status == 'REPROVADO'">{{ chamado.status }}</span>
                                <span class="label label-default" *ngIf="chamado.status == 'FECHADO'">{{ chamado.status }}</span>
                            </td>
                            <td>{{ chamado.titulo }}</td>
                            <td>{{ chamado.usuario.email }}</td>
                            <td>
                                <i class="fa fa-search-plus fa-lg" aria-hidden="true" data-bs-toggle="tooltip" title="Detalhar" style="cursor: pointer;" (click)="detalhar(chamado.id)"></i>
                            </td>
                            <td *ngIf="shared.usuario.perfil == 'CLIENTE'">
                                <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true" data-bs-toggle="tooltip" title="Editar" style="cursor: pointer;" (click)="editar(chamado.id)"></i>
                            </td>
                            <td *ngIf="shared.usuario.perfil == 'CLIENTE'">
                                <i class="fa fa-trash fa-lg" aria-hidden="true" data-bs-toggle="tooltip" title="Excluir" style="cursor: pointer;" 
                                        data-toggle="modal" data-target="#modalExclusaoChamado" (click)="selecionaExcluir(chamado)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="" (click)="setPreviousPage($event)"> « </a></li>
                    <li *ngFor="let p of pages; let i=index">
                        <a [ngClass]="{'pagination-focus' : i == page}" href="" (click)="setPage(i, $event)">{{ i+1 }}</a>
                    </li>
                    <li><a href="" (click)="setNextPage($event)"> » </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

                                
<div class="modal fade" id="modalExclusaoChamado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel"><i class="fa fa-exclamation-circle fa-lg"
                            aria-hidden="true"></i>&nbsp; Atenção</h4>
                </div>
                <div class="modal-body">

                    <h5>Confirma a exclusão do seguinte Chamado ?</h5>
                    <br />
                    <div class="row">
                        <div class="col-md-6"><p><b>Número: </b>{{ chamadoSelecionado?.numero }}</p></div>
                        <div class="col-md-6"><p><b>Prioridade: </b>{{ chamadoSelecionado?.prioridade }}</p></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"><p><b>Status: </b>{{ chamadoSelecionado?.status }}</p></div>
                        <div class="col-md-6"><p><b>Título: </b>{{ chamadoSelecionado?.titulo }}</p></div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-times" aria-hidden="true"></i> Cancelar
                    </button>
                    <button type="button" class="btn btn-danger" (click)="delete(chamadoSelecionado.id)" data-dismiss="modal">
                        <i class="fa fa-check" aria-hidden="true"></i> Confirmar
                    </button>
                </div>
            </div>
    </div>
</div>